body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/*----Menu chargement / @keyframes----*/

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.loader {
    position: relative;
    margin-top: 0;
    width: 100%;
    height: 100%;
    background-image: url("image/zelda.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}

.lettre {
    color: #484848;
    font-size: 80px;
    letter-spacing: 15px;
    margin-bottom: 500px;
    animation: flash 1.2s linear infinite;
}

@keyframes flash {
    0% {
        color: #ffd700;
        text-shadow: 0 0 7px #fff900;
    }
    90% {
        color: #484848;
        text-shadow: none;
    }
    100% {
        color: #ffd700;
        text-shadow: 0 0 7px #fff900;
    }
}

.lettre:nth-child(1) {
    animation-delay: 0.1s;
}

.lettre:nth-child(2) {
    animation-delay: 0.2s;
}

.lettre:nth-child(3) {
    animation-delay: 0.3s;
}

.lettre:nth-child(4) {
    animation-delay: 0.4s;
}

.lettre:nth-child(5) {
    animation-delay: 0.5s;
}

.lettre:nth-child(6) {
    animation-delay: 0.6s;
}

.lettre:nth-child(7) {
    animation-delay: 0.7s;
}

.lettre:nth-child(8) {
    animation-delay: 0.8s;
}

.lettre:nth-child(9) {
    animation-delay: 0.9s;
}

.lettre:nth-child(10) {
    animation-delay: 1s;
}

.fondu-out {
    opacity: 0;
    transition: opacity 0.4s ease-out;
}

/*----fin menu chargement / @keyframes----*/

/*----Mise en forme de la page----*/

.page {
    max-width: 2000px;
    margin-top: 46px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-top: 64px;
    margin-bottom: 64px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 64px;
    margin-bottom: 64px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
}

.top {
    color: #ffd700;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 3;
    left: 0;
    top: 0;
    transform: tranlate(-50%, -50%);
}

/*----transforme / Barre du menu----*/

.Menu {
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    text-align: center;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    transition: color 0.4s linear;
    position: relative;
}

.Menu:hover {
    color: black;
}

.Menu::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ffd700;
    z-index: -1;
    transition: transform 0.5;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.0, 0.4, 0.5);
}

.Menu1::before {
    transform: scaleX(0);
}

.Menu1:hover::before {
    transform: scaleX(1);
}

.Menu2::before {
    transform: scaleX(0);
}

.Menu2:hover::before {
    transform: scaleX(1);
}

.Menu3::before {
    transform: scaleX(0);
}

.Menu3:hover::before {
    transform: scaleX(1);
}

.Menu4::before {
    transform: scaleX(0);
}

.Menu4:hover::before {
    transform: scaleX(1);
}

.Menu5::before {
    transform: scaleX(0);
}

.Menu5:hover::before {
    transform: scaleX(2);
}

/*----Fin transform / Barre du menu----*/

/*----image/photo----*/

.img {
    font-family: Arial, Helvetica, sans-serif;
    width: 31%;
    float: left;
    padding-top: 32px;
    padding-bottom: 32px;
    padding: 0 8px;
}

.titre {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
}

.taille {
    width: 60%;
}

/*----Parcours----*/

.parcours {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 0.01em 16px;
    padding-bottom: 64px;
    text-align: center;
    position: relative;
}

.bloc1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 0 8px;
    padding-top: 32px;
    padding-bottom: 32px;
    display: table;
    clear: both;
}

/*----Projet----*/

.noir {
    color: white;
    background-color: black;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    z-index: -2;
}

.projet {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    max-width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 0.01em 16px;
    margin-top: 64px;
    padding-bottom: 64px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.ulprojet {
    list-style-type: none;
    border: 1px solid grey;
}

.liprojet {
    padding: 8px 16px;
    border-bottom: 1px solid grey;
}

img{
    width: 30%;
    display: block;
}

/*----Compétence----*/

.Competence {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 64px;
    padding: 17px;
    overflow: auto;
    position: relative;
    z-index: 1;
}

.label {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    font-size: 1rem;
    color: #ffd700;
    box-shadow: 10px 10px 10px black;
    margin: 20px;
    margin-left: 210px;
    padding: 10px;
    width: 33%;
    float: left;
    background-color: black;
    display: flex;
}

progress {
    width: 100%;
}

/*----contact----*/

.contact {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: left;
    display: block;
    color: black;
    position: relative;
}

.bloc2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

footer {
    width: 100%;
    background-color: black;
    text-align: center;
    font-size: 24px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

footer:hover{
    background: grey;
}